- if (controller.controller_name == 'vendors') and (template = template_for_current_view).present?
  = render(template, vendor: vendor)
- else
  -# default view
  = render 'vendors/index_brief', vendor: vendor